@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: lemonchiffon; 
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 3px solid lightblue;
   
    
}
.add{
    padding: 20px;
    border-radius: 12px;
    font-size: 16px;
    border: 2px solid black;
}
.add:hover{
    border: 2px solid lightblue;
}
    

.form{
    display: none;
      
}
.fle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.newForm{
    
    padding: 40px;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: white;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;
   
}
.default{
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: 2px solid lightblue;
}
.notRead{
    width: 100%;
    padding: 5px 0;
    border-radius: 8px;
    border: 2px solid red;


}
.read{
    width: 100%;
    padding: 5px 0;
    border-radius: 8px;
    border: 2px solid green;
}
.heading{
    margin-bottom: 10px;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    gap: 15px;
}
label{
font-size: 18px;
padding: 8px;
}
input{
    padding: 5px;
    border-radius: 8px;
    background-color:
    #fffdd0;
    color: black;
    border: none;
    font-size: 16px;
}
.save{
    padding: 10px 30px;
    border-radius: 8px;
    background-color: lightblue;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #fffdd0;
}
.save:hover{
    background-color: #fffdd0;

}
.cardContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px;
}
.cardContainer>*{
    flex: 0 1 15%;
}
.book{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 18px;
    border: 5px solid lightblue;
    border-radius: 10px;
    text-align: center;
    height: 400px;
}
.bot{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.rmvBtn{
    width: 100%;
    padding: 10px 0;
    border: 2px solid lightblue;
    border-radius: 5px;
}
.rmvBtn:hover{
    border: 2px solid red;
}
button{
    background-color: lemonchiffon;
    cursor: pointer;
}
.error{
    border: 2px solid red;
}
.msg{
    display: none;
}
h4{
    color: red;
    font-size: 12px;
    resize: none;

}
